[package]
name = "ur"
description = "A Rust implementation of Uniform Resources"
license = "MIT"
version = "0.2.0"
authors = ["Dominik Spicher <dominikspicher@gmail.com>"]
edition = "2021"
repository = "https://github.com/dspicher/ur-rs/"

[features]
default = ["std"]
std = []

[dependencies]
bitcoin_hashes = { version = "0.11.0", default-features = false }
crc = "3.0.0"
minicbor = { version = "0.18.0", features = ["alloc"] }
phf = { version = "0.11.1", features = ["macros"], default-features = false }
rand_xoshiro = "0.6.0"

[dev-dependencies]
hex = "0.4.3"
qrcode = { version = "0.12.0", default-features = false }
