[package]
name = "ur-rs"
version = "0.1.0"
authors = ["Dominik Spicher <dominikspicher@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.36"
cbor = "0.4.1"
crc = "1.8.1"
hex = "0.4.2"
phf = { version = "0.8.0", features = ["macros"] }
rand_xoshiro = "0.6.0"
thiserror = "1.0.22"
tiny-sha256 = { git = "https://github.com/fspmarshall/tiny-sha256", rev = "7902359bf8f23d4cd039d0ca066d144dcd78505d" }

[dev-dependencies]

