[package]
name = "ur-rs"
version = "0.1.0"
authors = ["Dominik Spicher <dominikspicher@gmail.com>"]
edition = "2018"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.42"
bitcoin_hashes = "0.10.0"
crc = "2.0.0"
hex = "0.4.3"
phf = { version = "0.9.0", features = ["macros"] }
rand_xoshiro = "0.6.0"
serde = "1.0.126"
serde_cbor = "0.11.1"
serde_derive = "1.0.126"

[dev-dependencies]

