[package]
name = "ur"
description = "A Rust implementation of Uniform Resources"
license = "MIT"
version = "0.2.0"
authors = ["Dominik Spicher <dominikspicher@gmail.com>"]
edition = "2018"
repository = "https://github.com/dspicher/ur-rs/"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.55"
bitcoin_hashes = "0.10.0"
crc = "2.1.0"
hex = "0.4.3"
once_cell = "1.10.0"
rand_xoshiro = "0.6.0"
serde = "1.0.136"
serde_cbor = { version = "0.11.2", features = ["tags"] }

[dev-dependencies]
qrcode = { version = "0.12.0", default-features = false }
